@media all and (min-width: 994px) {
    header {
        .navbar .navbar-nav .nav-item .dropdown-menu{ display:none; }
        .navbar .navbar-nav .nav-item:hover .nav-link{ color: #fff; }
        .navbar .navbar-nav .nav-item:hover .dropdown-menu{ display:block; }
        .navbar .navbar-nav .nav-item .dropdown-menu{ margin-top:0; }
    }
}
@media (max-width: 993px) {
    h1 {
        font-size: 40px;
        line-height: 48px;
    }
    .wave-content br {
        display: none;
    }
    .line {
        fill: none;
        stroke: #fff;
        stroke-width: 6;
        transition: stroke-dasharray 600ms cubic-bezier(0.4, 0, 0.2, 1),stroke-dashoffset 600ms cubic-bezier(0.4, 0, 0.2, 1)
    }
    .line1 {
        stroke-dasharray: 60 207;
        stroke-width: 6
    }
    .line2 {
        stroke-dasharray: 60 60;
        stroke-width: 6
    }
    .line3 {
        stroke-dasharray: 60 207;
        stroke-width: 6
    }
    .opened .line1 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6
    }
    .opened .line2 {
        stroke-dasharray: 1 60;
        stroke-dashoffset: -30;
        stroke-width: 6
    }
    .opened .line3 {
        stroke-dasharray: 90 207;
        stroke-dashoffset: -134;
        stroke-width: 6
    }
    button#nav-btn:focus,
    button#nav-btn:active {
        box-shadow: unset;
    }
    .footer-main {
        padding: 40px 0;
    }
    .footer-main .quick-links ul li:not(:last-child) {
        margin-bottom: 8px;
    }
    .footer-main .footer-logo img {
        width: auto;
        max-width: 80px;
    }
    .footer-main .footer-logo {
        margin-bottom: 30px;
    }
    .quick-links {
        margin-bottom: 20px;
    }
    .locations {
        flex-wrap: wrap;
        margin-bottom: 40px;
    }
    header {
        nav.navbar .container {
            align-items: center;
        }
        .menu-right {
            display: none;
        }
        ul#menu-main-menu {
            padding-top: 50px;
            padding-bottom: 80px;
            gap: 15px;
            li a {
                width: fit-content;
                &:after {
                    display: none;
                }
            }
        }
        &.light {
            .line {
                stroke: $black;
            }
        }
    }
    section.case-studies .container {
        padding: 20px;
    }
    section.case-studies .container .cs-images {
        margin: 0 0 30px 0;
    }
    section.case-studies .container .cs-images img.img-fluid {
        height: 400px;
    }
    section.case-studies .container .title-wrapper h3, section.case-studies .container .title-wrapper .h3 {
        max-width: 100%;
    }
    section.case-studies .container .cs-slider :where(h4,.h4,p) {
        max-width: 100%;
    }
    section.case-studies .container .more-btn {
        margin-right: 0;
    }
}
@media (max-width: 768px) {
    .contact-form .hbspt-form form.hs-form fieldset.form-columns-2 .hs-form-field {
        width: 100%;
    }
    .contact-form .hbspt-form form.hs-form fieldset {
        margin-bottom: 0;
    }
    .contact-form .hbspt-form form.hs-form .hs-form-field {
        margin-bottom: 15px;
        input, textarea {
            -webkit-appearance: none;
            border-radius: 0px !important;
            -webkit-border-radius: 0px !important;
        }
    }
    header nav a.navbar-brand img {
        max-width: 80px;
        height: auto;
    }
}