main :where(p, a, div) {
    font-family: 'Montserrat', sans-serif;
    font-size: 19px;
    line-height: 26px;
    font-weight: 300;
}
h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}
h1 {
    font-size: 51px;
    line-height: 61px;
    font-weight: 700;
    margin-bottom: 30px;
}
h2 {
    font-size: 49px;
    line-height: 59px;
    font-weight: 700;
    margin-bottom: 30px;
}
h3 {
    font-size: 30px;
    line-height: 37px;
    font-weight: 700;
    margin-bottom: 25px;
}
h4 {
    font-size: 26px;
    line-height: 36px;
    font-weight: 700;
    margin-bottom: 25px;
}
h5 {
    font-size: 24px;
    line-height: 29px;
    font-weight: 400;
}
h6 {
    font-size: 17px;
    line-height: 25px;
    font-weight: 600;
}
strong {
    font-weight: 600;
}