section.contact {
    padding: 160px 0;
    @media (max-width: 993px) {
        padding: 100px 0;
    }
    min-height: 100vh;
    .row {
        color: white;
        &.upper {
            margin-bottom: 140px;
            @media (max-width: 993px) {
                margin-bottom: 70px;
            } 
        }
    }
    .title-wrapper {
        margin-bottom: 100px;
        @media (max-width: 993px) {
            margin-bottom: 50px;
        }
        h1 {
            margin-bottom: 0;
        }
    }
    .text-wrapper {
        margin-bottom: 70px;
        @media (max-width: 993px) {
            margin-bottom: 30px;
        }
    }
    .row.lower {
        align-items: stretch;
        .contact-box {
            display: flex;
            flex-wrap: wrap;
            height: 100%;
            min-height: 190px;
            @media (max-width: 993px) {
                min-height: unset;
            }
            h3 {
                margin-bottom: 5px;
            }
            :where(.upper, .lower) {
                width: 100%;
            }
            .upper {
                @media (max-width: 993px) {
                    margin-bottom: 20px;
                }
            }
            .lower {
                align-self: flex-end;
                min-height: 51px;
                @media (max-width: 993px) {
                    min-height: unset;
                }
                p {
                    margin-bottom: 5px;
                }
                a {
                    color: #fff;
                    text-decoration: none;
                    font-size: 17px;
                    max-width: 100%;
                    overflow-wrap: break-word;
                }
            }
        }
        .col-12:not(:last-child) {
            border-right: 1px solid #ffffff;
            @media (max-width: 993px) {
                border-right: unset;
                margin-bottom: 30px;
            }
        }
        .col-12:not(:first-child) {
            @media (max-width: 993px) {
                border-top: 1px solid #fff;
            }
            .contact-box {
                padding-left: 30px;
                @media (max-width: 993px) {
                    padding-left: 0;
                    padding-top: 30px;
                }
            }
        }
    }
}